# dependencies
node_modules/

# next.js
.next/
out/

# remotion build
.remotion/

# database
prisma/*.db
prisma/*.db-journal

# env
.env
.env.local
.env.production

# uploads & temp
uploads/*
!uploads/.gitkeep
tmp/*
!tmp/.gitkeep

# build cache
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
